* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgb(60 60 60);
}

.icone {
  width: 32px;
  height: 32px;
  background-color: #4286f4;
  border-radius: 100%;
}

main {
  min-height: calc(100vh - 180.65px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gap {
  gap: 20px;
}

.gap-2 {
  gap: 25px;
  color: rgb(60 60 60);
}

input {
  font-size: 16px;
  padding: 15px 40px;
  max-width: 584px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #d6d6d6;
}

input:focus {
  outline: none;
}

input:hover {
  -webkit-box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  -moz-box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #f7f7f7;
  cursor: pointer;
  color: rgb(60 60 60);
}

button:hover {
  border: 2px solid #d6d6d6;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

footer {
  font-size: 16px;
  background-color: #f7f7f7;
  color: #6d6d6d;
}

.brasil {
  padding: 20px 40px;
  border-bottom: 1px solid #d6d6d6;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.input-outter {
  width: 584px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 30%;
  left: 15px;
  color: #6d6d6d;
}

.keyboard-icon {
  position: absolute;
  right: 15px;
  top: 20%;
  font-size: 22px;
  color: #6d6d6d;
}

.text-center {
  font-size: 14px;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

header > nav p {
  cursor: pointer;
}

header > nav p:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  header {
    justify-content: center;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .text-center {
    text-align: center;
  }

  .input-wrapper {
    padding-inline: 20px;
  }

  .brasil {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    min-height: calc(100vh - 257px);
  }
}
